.character-card {
  display: flex;
  flex-direction: column;
  //   background-color: aquamarine;
  max-width: 400px;
  margin: 10px 0;

  mat-card-header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;

    img {
      width: 100%;
      height: auto;
      object-position: center center;
      object-fit: cover;
      margin: 0px;
    }
    img:hover {
      transform: translateY(5px);
    }

    mat-card-title {
      margin-top: 20px;
    }
  }

  mat-card-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    button {
      margin: 0 10px 5px 0;
    }
  }
}
